{% load wpy_tags %}
<div id="wpy-edit-notice">
  <div id="wpy-edit-notice-{{ wpy_context.page.namespace_id }}">
    {{ wpy_context.edit_notice }}
  </div>
</div>
{% if wpy_context.archived and wpy_context.user_can_edit %}
  <div class="wpy-edit-diff-warning-box alert alert-warning" role="alert">
    {% wpy_translate 'form.edit.revision_warning' %}
  </div>
{% endif %}
{% if not wpy_context.revision and wpy_context.page_exists %}
  <div class="wpy-edit-diff-error-box alert alert-danger" role="alert">
    {{ wpy_context.error_notice }}
  </div>
{% else %}
  <form action="{% url 'wikipy:page' raw_page_title=wpy_context.page.url_full_title %}?action=submit"
        method="post">
    {% with form=wpy_context.edit_form trans_prefix='form.edit.' %}
      <div class="form-group">
        <label class="sr-only" for="{{ form.content.id_for_label }}">
          {% wpy_translate trans_prefix|add:'content.label' %}
        </label>
        {{ form.content }}
      </div>

      {% if wpy_context.user_can_edit %}
        <div class="form-group">
          <label for="{{ form.comment.id_for_label }}">
            {% wpy_translate trans_prefix|add:'comment.label' %}
          </label>
          {{ form.comment }}
        </div>

        <div class="form-group text-center">
          <div class="form-check form-check-inline">
            {{ form.minor_edit }}
            <label for="{{ form.minor_edit.id_for_label }}" class="form-check-label"
                   title="{% wpy_translate trans_prefix|add:'minor_edit.tooltip' %}">
              {% wpy_translate trans_prefix|add:'minor_edit.label' %}
            </label>
          </div>

          <div class="form-check form-check-inline">
            {{ form.follow_page }}
            <label for="{{ form.follow_page.id_for_label }}" class="form-check-label"
                   title="{% wpy_translate trans_prefix|add:'follow_page.tooltip' %}">
              {% wpy_translate trans_prefix|add:'follow_page.label' %}
            </label>
          </div>
        </div>

        <div class="form-group text-center">
          <input id="wpy-edit-form-submit-btn" type="submit" value="{% wpy_translate trans_prefix|add:'submit.label' %}"
                 title="{% wpy_translate trans_prefix|add:'submit.tooltip' %}" class="btn btn-primary"
                 accesskey="s"/>
          <input id="wpy-edit-form-preview-btn" type="button"
                 value="{% wpy_translate trans_prefix|add:'preview.label' %}" disabled
                 title="{% wpy_translate trans_prefix|add:'preview.tooltip' %}" class="btn btn-secondary"
                 accesskey="p"/>
          <input id="wpy-edit-form-diff-btn" type="button" value="{% wpy_translate trans_prefix|add:'diff.label' %}"
                 disabled title="{% wpy_translate trans_prefix|add:'diff.tooltip' %}" class="btn btn-secondary"
                 accesskey="w"/>
          <input id="wpy-edit-form-cancel-btn" type="button" value="{% wpy_translate trans_prefix|add:'cancel.label' %}"
                 disabled title="{% wpy_translate trans_prefix|add:'cancel.tooltip' %}" class="btn btn-outline-danger"/>
        </div>

        {{ form.section_id }}
        {% csrf_token %}
      {% endif %}
    {% endwith %}
  </form>
{% endif %}
