/*********
 * Links *
 *********/

a.wpy-redlink {
  color: red;
}

.wpy-self-link {
  font-weight: bold;
}

/**************
 * Formatting *
 **************/

.text-bold, strong, b {
  font-weight: bold;
}

.text-italic, em, i {
  font-style: italic;
}

.text-underlined, u {
  text-decoration: underline;
}

.text-overlined {
  text-decoration: overline;
}

.text-stroke, s {
  text-decoration: line-through;
}

/******************
 * Revisions list *
 ******************/

.wpy-hidden-revision-link {
  text-decoration: line-through;
  color: gray;
}

.wpy-diff-size-tag-important {
  font-weight: bold;
}

/*********
 * Boxes *
 *********/

#wpy-revision-tags-legend-box {
  width: 25em;
  margin-bottom: 1em;
}

#wpy-revision-tags-legend-box li {
  line-height: 1.8;
}

#wpy-revision-tags-legend-box .card-header .mdi {
  transition: .3s transform ease-in-out;
}

#wpy-revision-tags-legend-box .card-header .collapsed .mdi {
  transform: rotate(90deg);
}

/*********
 * Media *
 *********/

figure {
  display: inline-block;
}

figure > figcaption > a[role="button"] {
  font-size: 1.2em;
}

figure.img-thumbnail {
  margin-left: 1em;
}

/********
 * Code *
 ********/

pre,
code,
#wpy-edit-form-content,
#wpy-edit-form-comment,
#wpy-new-topic-form-title,
#wpy-new-topic-form-content,
#wpy-new-topic-form-comment,
#wpy-edit-message-form-content,
#wpy-edit-message-form-comment {
  font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

/*********
 * Misc. *
 *********/

.pull-right {
  float: right;
}
