#wpy-prefs-form .card-body {
  padding-left: 2rem;
  padding-right: 2rem;
}

#wpy-prefs-form-submit {
  margin-top: 1em;
}

.wpy-prefs-form-section-title:not(:first-child) {
  margin-top: 1.5em;
}

.wpy-prefs-form-section-title {
  font-size: 1.3em;
  margin-bottom: 1.5em;
}

#wpy-prefs-form-signature {
  font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

.form-group {
  margin-bottom: 0.5rem;
}

.form-group ul.list-unstyled {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
}

.form-group ul.list-unstyled > li:last-of-type > label {
  margin-bottom: 0;
}
