/*********
 * Links *
 *********/

a.wpy-redlink {
  color: red;
}

.wpy-self-link {
  font-weight: bold;
}

/**************
 * Formatting *
 **************/

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-underlined {
  text-decoration: underline;
}

.text-overlined {
  text-decoration: overline;
}

.text-stroke {
  text-decoration: line-through;
}

/******************
 * Revisions list *
 ******************/

.wpy-hidden-revision-link {
  text-decoration: line-through;
  color: gray;
}

.wpy-diff-size-tag-important {
  font-weight: bold;
}

/*********
 * Boxes *
 *********/

#wpy-revision-tags-legend-box {
  float: right;
  width: 400px;
  margin-bottom: 10px;
}

#wpy-revision-tags-legend-box .card-header .mdi {
  transition: .3s transform ease-in-out;
}

#wpy-revision-tags-legend-box .card-header .collapsed .mdi {
  transform: rotate(90deg);
}

/*********
 * Media *
 *********/

figure {
  display: inline-block;
}

figure > figcaption > a[role="button"] {
  font-size: 120%;
}

/*****************
 * Parser output *
 *****************/

.wpy-parser-error {
  color: red;
}

/*********
 * Misc. *
 *********/

.pull-right {
  float: right;
}
