{% load wpy_tags %}
{% load wpy_utils %}
{% load diff_tags %}

{% if wpy_context.page_diff_error %}
  <div class="alert alert-danger" role="alert">
    {{ wpy_context.page_diff_error }}
  </div>
{% elif wpy_context.page_diff_diff == None %}
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <form id="wpy-diff-form">
        <div class="form-group">
          <label for="wpy-diff-form-revisionid1">
            {% wpy_translate 'special.page_differences.form.revision_id1.label' %}
          </label>
          <input type="number" id="wpy-diff-form-revisionid1" class="form-control" required/>
        </div>

        <div class="form-group">
          <label for="wpy-diff-form-revisionid2">
            {% wpy_translate 'special.page_differences.form.revision_id2.label' %}
          </label>
          <input type="number" id="wpy-diff-form-revisionid2" class="form-control" required/>
        </div>

        <div class="text-center">
          <input type="submit" id="wpy-diff-form-submit" class="btn btn-primary"
                 value="{% wpy_translate 'special.page_differences.form.submit.label' %}"/>
        </div>
      </form>
    </div>
    <div class="col"></div>
  </div>
{% else %}
  <table id="wpy-diff-table">
    <colgroup>
      <col class="wpy-diff-table-marker">
      <col class="wpy-diff-table-text">
      <col class="wpy-diff-table-marker">
      <col class="wpy-diff-table-text">
    </colgroup>
    <tbody>
      <tr id="wpy-diff-table-header">
        <td colspan="2">
          {% diff_header wpy_context.page_diff_revision1 previous=True show_nav_link=wpy_context.page_diff_same_page %}
        </td>
        <td colspan="2">
          {% diff_header wpy_context.page_diff_revision2 previous=False show_nav_link=wpy_context.page_diff_same_page %}
        </td>
      </tr>
      {% if wpy_context.page_diff_nb_not_shown and wpy_context.page_diff_same_page %}
        <tr id="wpy-diff-table-subtitle">
          <td colspan="4">
            <span>
              {% wpy_translate 'special.page_differences.nb_not_shown' nb=wpy_context.page_diff_nb_not_shown %}
            </span>
          </td>
        </tr>
      {% endif %}
      {% if wpy_context.page_diff_diff|length_is:0 %}
        <tr id="wpy-diff-table-no-differences">
          <td colspan="4">
            <span>
              {% wpy_translate 'special.page_differences.no_differences' %}
            </span>
          </td>
        </tr>
      {% else %}
        {% for d in wpy_context.page_diff_diff %}
          {% if d|is_instance:'WikiPy.api.DiffLine' %}
            <tr class="wpy-diff-table-line">
              <td class="wpy-diff-table-marker">
                {% if d.line1 != d.line2 and d.line1 != None %}−{% else %}&nbsp;{% endif %}
              </td>
              <td class="{% if d.line1 != None %}wpy-diff-table-text{% endif %} {% if d.line1 != d.line2 and d.line1 != None %}wpy-diff-table-deletion{% endif %}">
                <pre>{% if d.line1 %}{% diff_format d.line1 d.ranges1 inserted=False %}{% endif %}</pre>
              </td>
              <td class="wpy-diff-table-marker">
                {% if d.line1 != d.line2 and d.line2 != None %}+{% else %}&nbsp;{% endif %}
              </td>
              <td class="{% if d.line2 != None %}wpy-diff-table-text{% endif %} {% if d.line1 != d.line2 and d.line2 != None %}wpy-diff-table-insertion{% endif %}">
                <pre>{% if d.line2 %}{% diff_format d.line2 d.ranges2 inserted=True %}{% endif %}</pre>
              </td>
            </tr>
          {% else %}{# TODO #}
            <tr class="wpy-diff-table-line">
              <td colspan="2" class="wpy-diff-table-line-number">
                {% wpy_translate 'special.page_differences.line_number' line_nb=d.0 %}
              </td>
              <td colspan="2" class="wpy-diff-table-line-number">
                {% wpy_translate 'special.page_differences.line_number' line_nb=d.1 %}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
{% endif %}
