{% load static %}
{% load wpy_tags %}
{% load wpy_utils %}

{% with trans_prefix=prefix|default:'special.{}.form.'|format_string:form.name %}
  {% with form_name=form.name|replace:'-,_'|add:'_form_global_errors' %}
    {% with global_errors=wpy_context|get_attr:form_name %}
      {% if global_errors %}
        <div class="alert alert-danger">
          <ul class="list-unstyled">
            {% for error in global_errors %}
              <li>{% wpy_translate trans_prefix|add:'error.'|add:error %}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endwith %}
  {% endwith %}
  <form method="{{ method|default:'post' }}" id="wpy-{{ form.name|replace:'_,-' }}-form"
        {% if action %}action="{{ action }}"{% endif %}>
    {% if method != 'get' %}{% csrf_token %}{% endif %}

    {% if form.warn_unsaved_changes %}
      <input type="hidden" name="warn-unsaved" value="1">
    {% endif %}

    {% for field in form %}
      {% with trans_field_prefix=trans_prefix|add:field.label|add:'.' %}

        {% if field.is_hidden %}
          {{ field }}
        {% else %}

          <div id="wpy-{{ form.name }}-form-field-{{ field.label }}"
               class="form-group {% if field.field.widget.input_type == 'checkbox' %}custom-control custom-checkbox{% endif %}">
            {% if field.field.widget.input_type == 'checkbox' %}
              {{ field }}
            {% endif %}

            {% if field.field.widget.input_type == 'file' %}
              <div class="custom-file">
            {% endif %}

            <label for="{{ field.id_for_label }}"
                   class="{% if field.field.widget.input_type == 'checkbox' %}custom-control-label{% elif field.field.widget.input_type == 'file' %}custom-file-label{% endif %}">
              {% wpy_translate trans_field_prefix|add:'label' %}
            </label>
            {% if field.field.choices and field.field.widget.input_type == 'radio' %}
              <ul class="list-unstyled">
                {% for item in field %}
                  <li class="custom-control custom-radio">
                    {{ item.tag }}
                    <label class="custom-control-label"
                           for="{{ field.id_for_label|slice:':-2' }}_{{ forloop.counter0 }}">
                      {% wpy_translate trans_field_prefix|add:item.choice_label|add:'.label' %}
                    </label>
                  </li>
                {% endfor %}
              </ul>
            {% elif field.field.widget.input_type != 'checkbox' %}
              {{ field }}
            {% endif %}

            {% if field.errors %}
              <div class="invalid-feedback" style="display: block">
                {% for error in field.errors.as_data %}
                  {% wpy_translate trans_field_prefix|add:'error.'|add:error.code %}
                {% endfor %}
              </div>
            {% endif %}
            {% if field.help_text %}
              <small class="form-text text-muted">
                {% wpy_translate trans_field_prefix|add:'help' %}
              </small>
            {% endif %}

            {% if field.field.widget.input_type == 'file' %}
              </div>
            {% endif %}
          </div>

        {% endif %}

      {% endwith %}
    {% endfor %}
    <div class="text-center">
      <input id="wpy-{{ form.name }}-form-submit" type="submit" class="btn btn-primary"
             value="{% wpy_translate trans_prefix|add:'submit.label' %}"/>
    </div>
  </form>
{% endwith %}
