{% load wpy_tags %}

<span class="wpy-prefs-form-section-title row" id="wpy-prefs-form-general-info-section">
  {% wpy_translate trans_prefix|add:'section.general_info' %}
</span>

<div class="form-group row">
  <label for="wpy-prefs-form-username" class="col-sm-2 col-form-label">
    {% wpy_translate trans_prefix|add:'username.label' %}
  </label>
  <div class="col-sm-8">
    <span id="wpy-prefs-form-username" class="form-control-plaintext">{{ wpy_context.user.username }}</span>
  </div>
</div>

<div class="form-group row">
  <label for="wpy-prefs-form-groups" class="col-sm-2 col-form-label">
    {% wpy_translate trans_prefix|add:'groups.label' %}
  </label>
  <div class="col-sm-8">
    <span id="wpy-prefs-form-groups" class="form-control-plaintext">
      {% for group in wpy_context.prefs_groups %}
        {{ group }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </span>
  </div>
</div>

<div class="form-group row">
  <label for="wpy-prefs-form-creation-date" class="col-sm-2 col-form-label">
    {% wpy_translate trans_prefix|add:'creation_date.label' %}
  </label>
  <div class="col-sm-8">
    <span id="wpy-prefs-form-creation-date" class="form-control-plaintext">
      {% wpy_format_date wpy_context.user.django_user.date_joined %}
    </span>
  </div>
</div>

<div class="form-group row">
  <label for="wpy-prefs-form-edits-count" class="col-sm-2 col-form-label">
    {% wpy_translate trans_prefix|add:'edits_count.label' %}
  </label>
  <div class="col-sm-8">
    <span id="wpy-prefs-form-edits-count" class="form-control-plaintext">
      {% wpy_inner_link namespace_id=NS_SPECIAL page_title='contributions' special_page_subtitle=wpy_context.user.username text=wpy_context.prefs_edits_count %}
    </span>
  </div>
</div>

<span class="wpy-prefs-form-section-title row" id="wpy-prefs-form-language-info-section">
  {% wpy_translate trans_prefix|add:'section.language_info' %}
</span>

<div class="form-group row">
  <label for="{{ form.prefered_language.id_for_label }}" class="col-sm-2 col-form-label">
    {% wpy_translate trans_prefix|add:'prefered_language.label' %}
  </label>
  <div class="col-sm-8">
    {{ form.prefered_language }}
    {% if form.prefered_language.errors %}
      <div class="invalid-feedback" style="display: block">
        {% for error in form.prefered_language.errors.as_data %}
          {% wpy_translate trans_prefix|add:'prefered_language.error.'|add:error.code %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>

<div class="form-group row">
  <label class="col-sm-2 col-form-label">
    {% wpy_translate trans_prefix|add:'gender.label' %}
  </label>
  <div class="col-sm-8">
    <ul class="list-unstyled">
      {% for g in form.gender %}
        <li class="custom-control custom-radio">
          {{ g.tag }}
          <label class="custom-control-label" for="{{ form.gender.id_for_label|slice:':-2' }}_{{ forloop.counter0 }}">
            {% wpy_translate trans_prefix|add:'gender.'|add:g.choice_label %}
          </label>
        </li>
      {% endfor %}
    </ul>
    {% if form.gender.errors %}
      <div class="invalid-feedback" style="display: block">
        {% for error in form.gender.errors.as_data %}
          {% wpy_translate trans_prefix|add:'gender.error.'|add:error.code %}
        {% endfor %}
      </div>
    {% endif %}
    <small class="form-text text-muted">
      {% wpy_translate trans_prefix|add:'gender.help' %}
    </small>
  </div>
</div>

<span class="wpy-prefs-form-section-title row" id="wpy-prefs-form-signature-section">
  {% wpy_translate trans_prefix|add:'section.signature' %}
</span>

<div class="form-group row">
  <label for="wpy-prefs-form-signature-preview" class="col-sm-2 col-form-label">
    {% wpy_translate trans_prefix|add:'signature_preview.label' %}
  </label>
  <div class="col-sm-8">
    <span id="wpy-prefs-form-signature-preview" class="form-control-plaintext">
      {{ wpy_context.prefs_rendered_signature }}
    </span>
  </div>
</div>

<div class="form-group row">
  <label for="{{ form.signature.id_for_label }}" class="col-sm-2 col-form-label">
    {% wpy_translate trans_prefix|add:'signature.label' %}
  </label>
  <div class="col-sm-8">
    {{ form.signature }}
    {% if form.signature.errors %}
      <div class="invalid-feedback" style="display: block">
        {% for error in form.signature.errors.as_data %}
          {% wpy_translate trans_prefix|add:'signature.error.'|add:error.code %}
        {% endfor %}
      </div>
    {% endif %}
    <small class="form-text text-muted">
      {% wpy_translate trans_prefix|add:'signature.help' %}
    </small>
  </div>
</div>

<span class="wpy-prefs-form-section-title row" id="wpy-prefs-form-email-section">
  {% wpy_translate trans_prefix|add:'section.email' %}
</span>

<div class="form-group row">
  <label for="wpy-prefs-form-current-email" class="col-sm-2 col-form-label">
    {% wpy_translate trans_prefix|add:'current_email.label' %}
  </label>
  <div class="col-sm-8">
    <span id="wpy-prefs-form-current-email" class="form-control-plaintext">
      {{ wpy_context.user.django_user.email }}
    </span>
    <a href="{% wpy_inner_link namespace_id=NS_SPECIAL page_title='change_email' only_url=True %}" role="button"
       class="btn btn-secondary" target="_blank">
      {% wpy_translate trans_prefix|add:'current_email.change.label' %}
    </a>
    <small class="form-text text-muted">
      {% wpy_translate trans_prefix|add:'current_email.help' %}
    </small>
  </div>
</div>

<div class="form-group row">
  <label for="wpy-prefs-form-email-confirmation-date" class="col-sm-2 col-form-label">
    {% wpy_translate trans_prefix|add:'email_confirmation_date.label' %}
  </label>
  <div class="col-sm-8">
    <span id="wpy-prefs-form-email-confirmation-date" class="form-control-plaintext">
      {% if wpy_context.user.data.email_confirmation_date %}
        {% wpy_format_date wpy_context.user.data.email_confirmation_date %}
      {% else %}
        {% wpy_translate trans_prefix|add:'email_confirmation_date.not_confirmed' %}
      {% endif %}
    </span>
    {% if not wpy_context.user.data.email_confirmation_date %}
      {% include 'WikiPy/special_pages/include/resend-email-button.html' %}
    {% endif %}
  </div>
</div>

<div class="form-group custom-control custom-checkbox row">
  <div class="col-sm-10">
    {{ form.users_can_send_emails }}
    <label class="custom-control-label" for="{{ form.users_can_send_emails.id_for_label }}">
      {% wpy_translate trans_prefix|add:'users_can_send_emails.label' %}
    </label>
  </div>
</div>

<div class="form-group custom-control custom-checkbox row">
  <div class="col-sm-10">
    {{ form.send_copy_of_sent_emails }}
    <label class="custom-control-label" for="{{ form.send_copy_of_sent_emails.id_for_label }}">
      {% wpy_translate trans_prefix|add:'send_copy_of_sent_emails.label' %}
    </label>
  </div>
</div>

<div class="form-group custom-control custom-checkbox row">
  <div class="col-sm-10">
    {{ form.send_watchlist_emails }}
    <label class="custom-control-label" for="{{ form.send_watchlist_emails.id_for_label }}">
      {% wpy_translate trans_prefix|add:'send_watchlist_emails.label' %}
    </label>
  </div>
</div>

<div class="form-group custom-control custom-checkbox row">
  <div class="col-sm-10">
    {{ form.send_minor_watchlist_emails }}
    <label class="custom-control-label" for="{{ form.send_minor_watchlist_emails.id_for_label }}">
      {% wpy_translate trans_prefix|add:'send_minor_watchlist_emails.label' %}
    </label>
  </div>
</div>

<div class="form-group row">{# TODO #}
  <label for="{{ form.users_email_blacklist.id_for_label }}" class="col-sm-2 col-form-label">
    {% wpy_translate trans_prefix|add:'users_email_blacklist.label' %}
  </label>
  <div class="col-sm-8">
    {{ form.users_email_blacklist }}
    {% if form.users_email_blacklist.errors %}
      <div class="invalid-feedback" style="display: block">
        {% for error in form.users_email_blacklist.errors.as_data %}
          {% wpy_translate trans_prefix|add:'users_email_blacklist.error.'|add:error.code %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
