<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Page Not Found</title>
  <meta name="robots" content="noindex"/>
  <style></style>
</head>
<body>
  <h1>Page not found</h1>
  <p>
    /{{ url }}
  </p>
  <p>
    The above page could not be found.
  </p>
  <p>
    Did you mean <a href="{% url 'wikipy:page' raw_page_title=url %}">{% url 'wikipy:page' raw_page_title=url %}</a>?
  </p>
  <p>
    Alternatively, you can visit the <a href="{% url 'wikipy:main_page' %}">Main Page</a>
    or read <a href="https://en.wikipedia.org/wiki/HTTP_404">more information</a> about this type of error.
  </p>
</body>
</html>
