#wpy-prefs-form .card-body {
  padding-left: 2rem;
  padding-right: 2rem;
}

#wpy-prefs-form-submit {
  margin-top: 15px;
}

.wpy-prefs-form-section-title:not(:first-child) {
  margin-top: 30px;
}

.wpy-prefs-form-section-title {
  font-size: 130%;
  margin-bottom: 30px;
}

#wpy-prefs-form-signature {
  font-family: "Bitstream Vera Sans Mono", "Monaco", "Courier New", "Courier", monospace;
}

.form-group {
  margin-bottom: 0.5rem;
}

.form-group ul.list-unstyled {
  padding-top: 7px;
  padding-bottom: 7px;
}

.form-group ul.list-unstyled > li:last-of-type > label {
  margin-bottom: 0;
}
