<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Forbidden access</title>
  <meta name="robots" content="noindex"/>
  <style></style>
</head>
<body>
  <h1>Forbidden access</h1>
  <p>
    /{{ url }}
  </p>
  <p>
    You do not have the permission to access the above page.
  </p>
  <p>
    Go back to the <a href="{% url 'main_page' %}">Main Page</a>
    or read <a href="https://en.wikipedia.org/wiki/HTTP_403">more information</a> about this type of error.
  </p>
</body>
</html>
