{% load wpy_tags %}
{% wpy_translate 'link.history' as hist %}
({% wpy_diff_link revision against='current' %} | {% wpy_diff_link revision against='previous' %})
{% include 'WikiPy_app/tags/revision-link.html' %}
{% wpy_page_size_tag revision.size %}
{% wpy_diff_size_tag revision.diff_size revision.size %}
{% if revision.minor %}{% wpy_minor_edit_tag %}{% endif %}
{% if revision.has_created_page %}{% wpy_page_creation_tag %}{% endif %}
{% if revision.is_bot %}{% wpy_bot_edit_tag %}{% endif %}
{% wpy_user_link full_page_title revision.author.username as user_link %}
&ndash;
<span class="wpy-history-user">
  {% if revision.author_hidden %}
    <span class="wpy-hidden-revision-author" title="{% wpy_translate 'revision.hidden_username.tooltip' %}">
      {% if user_can_hide %}
        {{ user_link }}
      {% else %}
        {% wpy_translate 'revision.hidden_author.label' %}
      {% endif %}
    </span>
  {% else %}
    {{ user_link }}
  {% endif %}
</span>
{% if revision.comment %}
  &ndash; {% include 'WikiPy_app/tags/revision-comment.html' %}
{% endif %}
