{% load wpy_tags %}
{{ rendered_page_content }}
{% if not wpy_user.is_logged_in %}
  <form action="{% url 'page' full_page_title_url %}?action=login" method="post">
    {% if login_error %}
      <p class="wpy-error">{% wpy_translate 'special.login.form.error' %}</p>
    {% endif %}
    <label for="wpy-login-username">{% wpy_translate 'special.login.form.username.label' %}</label>
    <input type="text" name="wpy-login-username" id="wpy-login-username" required
           value="{{ wpy_setup_username|default_if_none:'' }}"/>
    <label for="wpy-login-password">{% wpy_translate 'special.login.form.password.label' %}</label>
    <input type="password" name="wpy-login-password" id="wpy-login-password" required/>

    <input type="submit" value="{% wpy_translate 'special.login.form.submit.label' %}">
    <input type="hidden" name="wpy-login-returnto" value="{{ return_to }}"/>
    {% csrf_token %}
  </form>
{% endif %}

<div class="wpy-login-other-links">
  {#{% wpy_header_link link_type='special' special_page_id='password_reset'  %}#}
  {% wpy_header_link link_type='special' special_page_id='create_account' %}
</div>
